flows (1).json
[{"id":"2b0582e9.97d0be","type":"tab","label":"MQTT publicar","disabled":false,"info":""},{"id":"655b7dee.ca3aa4","type":"mqtt in","z":"2b0582e9.97d0be","name":"tensão","topic":"tensao","qos":"0","datatype":"auto","broker":"a5615315.5cf04","nl":false,"rap":true,"rh":0,"x":150,"y":420,"wires":[["b4e06723.f8c4f8","5d89efd4.3f886","b2934036.5b97e"]]},{"id":"713fe72c.6cc698","type":"mqtt in","z":"2b0582e9.97d0be","name":"","topic":"corrente","qos":"0","datatype":"auto","broker":"a5615315.5cf04","nl":false,"rap":true,"rh":0,"x":160,"y":360,"wires":[["fce7f0db.bb70b","5d89efd4.3f886","b2934036.5b97e"]]},{"id":"6d66d20a.124d5c","type":"mysql","z":"2b0582e9.97d0be","mydb":"9beb301a.3454e8","name":"","x":830,"y":260,"wires":[[]]},{"id":"47485586.51ea0c","type":"function","z":"2b0582e9.97d0be","name":"potencia","func":"var tensão = msg.payload.tensao\nvar corrente = msg.payload.corrente\nvar potencia = tensão * corrente\nmsg.payload = { \"potencia\": potencia };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":80,"wires":[["13eb7b.6c1ef486"]]},{"id":"db585c46.c7b27","type":"inject","z":"2b0582e9.97d0be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":210,"y":540,"wires":[["5878a879.b8f668"]]},{"id":"3c5300e1.f705c","type":"inject","z":"2b0582e9.97d0be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":210,"y":600,"wires":[["ffdcb53f.e041b8"]]},{"id":"58a32d7f.f76174","type":"inject","z":"2b0582e9.97d0be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":210,"y":660,"wires":[["a6a69b65.ec0688"]]},{"id":"5878a879.b8f668","type":"function","z":"2b0582e9.97d0be","name":"1","func":"msg.topic = \"SELECT * FROM proj order by timeStamp DESC limit 10;\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":540,"wires":[["87112350.77966"]]},{"id":"ffdcb53f.e041b8","type":"function","z":"2b0582e9.97d0be","name":"2","func":"msg.topic = \"SELECT * FROM proj order by timeStamp DESC limit 10;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":600,"wires":[["8648fbbe.dfa9e8"]]},{"id":"a6a69b65.ec0688","type":"function","z":"2b0582e9.97d0be","name":"3","func":"msg.topic = \"SELECT * FROM proj order by timeStamp DESC limit 10;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":660,"wires":[["c495c98b.d38e18"]]},{"id":"8648fbbe.dfa9e8","type":"mysql","z":"2b0582e9.97d0be","mydb":"9beb301a.3454e8","name":"","x":550,"y":600,"wires":[["1173731b.9fcced"]]},{"id":"87112350.77966","type":"mysql","z":"2b0582e9.97d0be","mydb":"9beb301a.3454e8","name":"","x":550,"y":540,"wires":[["aefac468.2716b8"]]},{"id":"c495c98b.d38e18","type":"mysql","z":"2b0582e9.97d0be","mydb":"9beb301a.3454e8","name":"","x":550,"y":660,"wires":[["d311940e.f37618"]]},{"id":"aefac468.2716b8","type":"ui_template","z":"2b0582e9.97d0be","group":"f4823e6f.e016a","name":"Tabela Mysql","order":3,"width":"6","height":"6","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>Potência</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: green\">{{row.timeStamp}}</span>\n  <span flex style=\"color: red\">{{row.potencia}} W</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":540,"wires":[[]]},{"id":"1173731b.9fcced","type":"ui_template","z":"2b0582e9.97d0be","group":"d4bb7613.a05b58","name":"Tabela Mysql","order":3,"width":"6","height":"6","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>Tensão</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: green\">{{row.timeStamp}}</span>\n  <span flex style=\"color: red\">{{row.tensao}} V</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":600,"wires":[[]]},{"id":"d311940e.f37618","type":"ui_template","z":"2b0582e9.97d0be","group":"579843c7.44178c","name":"Tabela Mysql","order":3,"width":"6","height":"6","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Hora</span>\n  <span flex>Corrente</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"row in msg.payload\">\n  <span flex style=\"color: green\">{{row.timeStamp}}</span>\n  <span flex style=\"color: red\">{{row.corrente}} A</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":730,"y":660,"wires":[[]]},{"id":"fce7f0db.bb70b","type":"ui_gauge","z":"2b0582e9.97d0be","name":"","group":"579843c7.44178c","order":1,"width":0,"height":0,"gtype":"gage","title":"Instantânea","label":"units","format":"{{value}} A","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":360,"wires":[]},{"id":"b4e06723.f8c4f8","type":"ui_gauge","z":"2b0582e9.97d0be","name":"","group":"d4bb7613.a05b58","order":1,"width":0,"height":0,"gtype":"gage","title":"Instantânea","label":"units","format":"{{value}} V","min":0,"max":"240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":420,"wires":[]},{"id":"213f04c0.4f0eec","type":"ui_gauge","z":"2b0582e9.97d0be","name":"","group":"f4823e6f.e016a","order":1,"width":0,"height":0,"gtype":"gage","title":"Instantânea","label":"units","format":"{{value}} W","min":0,"max":"4000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":100,"wires":[]},{"id":"b2934036.5b97e","type":"join","z":"2b0582e9.97d0be","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":350,"y":220,"wires":[["98169181.c608"]]},{"id":"98169181.c608","type":"function","z":"2b0582e9.97d0be","name":"","func":"var tensao = msg.payload.tensao\nvar corrente = msg.payload.corrente\nvar potencia = global.get(\"potencia\");\nmsg.topic = \"INSERT INTO proj(`tensao`,`corrente`,`potencia`) VALUES ('\"+tensao+\"', '\"+corrente+\"','\"+potencia+\"')\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":220,"wires":[["cac1301a.521f2"]]},{"id":"cac1301a.521f2","type":"delay","z":"2b0582e9.97d0be","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"3","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":680,"y":220,"wires":[["6d66d20a.124d5c"]]},{"id":"fc2c175d.267148","type":"ui_chart","z":"2b0582e9.97d0be","name":"","group":"f4823e6f.e016a","order":2,"width":0,"height":0,"label":"Gráfico Mysql","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":800,"wires":[[]]},{"id":"b1290ce6.fc433","type":"ui_chart","z":"2b0582e9.97d0be","name":"","group":"579843c7.44178c","order":2,"width":0,"height":0,"label":"Gráfico Mysql","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":920,"wires":[[]]},{"id":"59d291fa.4774d","type":"ui_chart","z":"2b0582e9.97d0be","name":"","group":"d4bb7613.a05b58","order":2,"width":0,"height":0,"label":"Gráfico Mysql","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":860,"wires":[[]]},{"id":"4125464d.8295a8","type":"inject","z":"2b0582e9.97d0be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":210,"y":800,"wires":[["7fa8c629.aee7d8"]]},{"id":"ac0be366.a5bd6","type":"inject","z":"2b0582e9.97d0be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":210,"y":860,"wires":[["ca5c8d43.680d5"]]},{"id":"7c92cae9.260e74","type":"inject","z":"2b0582e9.97d0be","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":210,"y":920,"wires":[["7c733145.08bf7"]]},{"id":"7fa8c629.aee7d8","type":"function","z":"2b0582e9.97d0be","name":"1","func":"msg.topic = \"SELECT * FROM proj where timeStamp >= now() - 84600;\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":800,"wires":[["6f0e7bfc.04ecf4"]]},{"id":"ca5c8d43.680d5","type":"function","z":"2b0582e9.97d0be","name":"2","func":"msg.topic = \"SELECT * FROM proj where timeStamp >= now() - 84600;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":860,"wires":[["33ad5fae.4f9f7"]]},{"id":"7c733145.08bf7","type":"function","z":"2b0582e9.97d0be","name":"3","func":"msg.topic = \"SELECT * FROM proj where timeStamp >= now() - 84600;\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":920,"wires":[["eba7fa4b.7b4478"]]},{"id":"33ad5fae.4f9f7","type":"mysql","z":"2b0582e9.97d0be","mydb":"9beb301a.3454e8","name":"","x":530,"y":860,"wires":[["b8b8e9c2.deca18"]]},{"id":"6f0e7bfc.04ecf4","type":"mysql","z":"2b0582e9.97d0be","mydb":"9beb301a.3454e8","name":"","x":530,"y":800,"wires":[["d6d68ae9.bac0b8"]]},{"id":"eba7fa4b.7b4478","type":"mysql","z":"2b0582e9.97d0be","mydb":"9beb301a.3454e8","name":"","x":530,"y":920,"wires":[["d7216da8.ee732"]]},{"id":"d6d68ae9.bac0b8","type":"change","z":"2b0582e9.97d0be","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"label\": \"potência (W)\" , \"field\": \"potencia\"  },\t    {  \"label\": \"umidade (%)\", \"field\": \"umidade\" }\t\t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":800,"wires":[["fc2c175d.267148"]]},{"id":"b8b8e9c2.deca18","type":"change","z":"2b0582e9.97d0be","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"label\": \"tensão (V)\" , \"field\": \"tensao\"  },\t    {  \"label\": \"umidade (%)\", \"field\": \"umidade\" }\t\t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":860,"wires":[["59d291fa.4774d"]]},{"id":"d7216da8.ee732","type":"change","z":"2b0582e9.97d0be","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"label\": \"corrente (A)\" , \"field\": \"corrente\"  },\t    {  \"label\": \"umidade (%)\", \"field\": \"umidade\" }\t\t  ];\t  $xaxis := \"timeStamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":920,"wires":[["b1290ce6.fc433"]]},{"id":"5d89efd4.3f886","type":"join","z":"2b0582e9.97d0be","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":190,"y":160,"wires":[["47485586.51ea0c"]]},{"id":"13eb7b.6c1ef486","type":"template","z":"2b0582e9.97d0be","name":"","field":"payload.potencia","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.potencia}}","output":"str","x":520,"y":80,"wires":[["cc4355a0.f16988"]]},{"id":"cc4355a0.f16988","type":"function","z":"2b0582e9.97d0be","name":"","func":"msg.payload = msg.payload.potencia;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":140,"wires":[["213f04c0.4f0eec","a30cf7f9.a860a8"]]},{"id":"a30cf7f9.a860a8","type":"change","z":"2b0582e9.97d0be","name":"","rules":[{"t":"set","p":"potencia","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":160,"wires":[[]]},{"id":"c006369d.b6a508","type":"inject","z":"2b0582e9.97d0be","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"truncate table proj;","x":230,"y":1180,"wires":[["500d22f3.1e4e7c"]]},{"id":"500d22f3.1e4e7c","type":"mysql","z":"2b0582e9.97d0be","mydb":"9beb301a.3454e8","name":"","x":430,"y":1180,"wires":[[]]},{"id":"a5615315.5cf04","type":"mqtt-broker","name":"","broker":"kellensu.duckdns.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9beb301a.3454e8","type":"MySQLdatabase","name":"","host":"bdsuzanne.cns38myx2dey.us-east-2.rds.amazonaws.com","port":"3306","db":"projeto_EC2","tz":"","charset":"UTF8"},{"id":"f4823e6f.e016a","type":"ui_group","name":"Potência","tab":"db021cfa.a8a1e","order":1,"disp":true,"width":"6","collapse":false},{"id":"d4bb7613.a05b58","type":"ui_group","name":"Tensão","tab":"db021cfa.a8a1e","order":2,"disp":true,"width":"6","collapse":false},{"id":"579843c7.44178c","type":"ui_group","name":"Corrente","tab":"db021cfa.a8a1e","order":4,"disp":true,"width":"6","collapse":false},{"id":"db021cfa.a8a1e","type":"ui_tab","name":"proj IFA","icon":"dashboard","disabled":false,"hidden":false}]